pip install django


django-admin startproject iblog


python manage.py startapp home

configure your app in settings.py in installed apps

Go to settings.py and add your project's secret key and
email and password to send mail
