{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block body %}
<div class="container border bg-light py-3 my-3 col-md-6" align="center">
  <h3> Change Password... </h3>
  <br><br>

  <form method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      {{error}}
    </div>
    {% endfor %}
    <table>
      {% for field in form %}<tr>
        <div class="form-group">
          <td>{{field.label}}</td>
          <td>{{field}}</td>
      </tr>


{% if field.errors %}
<div class="alert alert-danger">
  {{field.errors}}
</div>  
  {% endif %}

  {% endfor %}
  </table>
  <a href="{% url 'home' %}">Back</a>
  <button class="btn btn-primary">Submit</button>
  </form>
</div>
  {% endblock body %}



  {% comment %}

  <table>
    <tr>
      <div class="mb-3">
        <td><label for="id_old_password" class="form-label">Old password:</label> </td>
        <td><input type="password" name="old_password" autocomplete="current-password" autofocus required
            id="id_old_password"></td>
      </div>
    </tr>
    <tr>
      <div class="mb-3">
        <td><label for="id_new_password1" class="form-label">New password:</label></td>
        <td><input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        </td>
        <span>
          <p></p>
        </span>
      </div>
    </tr>
    <tr>
      <div class="mb-3">
        <td><label for="id_new_password2" class="form-label">New password confirmation:</label> </td>
        <td><input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </td>
      </div>
    </tr>
  </table> {% endcomment %}